.child-box {
   border: rgb(63, 37, 3) solid 1px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.parent-box {
    display: flex;
    background-color: rgb(179, 168, 107);
    padding: 40px 20px 20px 20px;
}

.parent-box > p {
    position: absolute;
    margin-top: 30px;
}

